html {
	height: 100%;
}

body {
	background-color: black;
	height: 100%;
	padding: 50px 0px;
	max-width: 1920px;
	margin: 0 auto;
}


/*================================================================================================

NAVIGATION	

================================================================================================*/




nav {
	background-color: black;
}

.activeNav {
	
}

.navbar-inverse .navbar-nav > .active > a{
	font-size: 1.25em;
}

#navigation {
	margin-bottom: 0px;
	border-radius: 0px;
}



/*================================================================================================

JUMBOTRON

================================================================================================*/





#myCarousel {
	max-height: 480px;
}

#myCarousel img {
	margin: 0 auto;
	max-height: 480px;
}

/* begin moblie banner*/

.jumbotron {
	margin: 0 auto;
	padding: 0;
}

.jumbotron img {
	margin: 0 auto;
	width: 100%;
}

#mobleJumbotron {
	display: none;
	width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
	#myCarousel {

	}

	#mobleJumbotron {
		display: block;
	}
}



/*================================================================================================

	Nonpoint Photo

================================================================================================*/

.nonpointPhoto{
	margin-top: 3em;
	background-image: "images/Nonpoint Jan 2017/fullcrowd.jpg";
}


/*================================================================================================

	FOOTER

================================================================================================*/



footer {
	max-height: 50px;
	margin: 50px auto 0px auto;
}

