body {
	background-color: black;
}

h3 {
	margin: 0;
	padding: 0;
}

/*================================================================================================

NAVIGATION	

================================================================================================*/



.active {
	border-bottom: 1px solid red;
}

.navbar-inverse .navbar-nav > .active > a{
	font-size: 1.25em;
}

#navigation {
	margin-bottom: 0px;
	border-radius: 0px;
}



/*================================================================================================

JUMBOTRON

================================================================================================*/


.jumbotron {
	margin: 0 auto;
}

.jumbotron img {
	margin: 0 auto;
	width: 100%;
}

#mobleJumbotron {
	display: none;
	width: 100%;
}

#myCarousel {
	top: 32px;
	height: 500px;
}

#myCarousel img {
	margin: 0 auto;
	height: 500px;
}

#myCarousel h3 {
	position: absolute;
}

#bannerWithTitle {
	width: 100%;
}

.bannerPosition {
	margin: 0 auto;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
	#myCarousel {
		display: none;
	}

	#mobleJumbotron {
		display: block;
	}
}



/*================================================================================================

	

================================================================================================*/

